/* haiiiiiii :3 */
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h4, h6, div.dubby > p{
    margin: 0;
}

/* just a simple body reset & fix spacing */


.mainContainer{
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 2fr;
    grid-template-rows: 0.1fr 0.30fr 0.70fr 0.80fr;
}

/* main page layot via mainContainer */

.dashboard{
    grid-area: 1 / 1 / 5 / 2;

    display: grid;
    grid-template-rows: 150px 250px 100px;
    
    
    background-color: rgb(4, 0, 226);
    min-height: 110vh;
    border-right: rgb(180, 180, 180) 5px inset;
    border-top: grey 5px outset;
    border-bottom: grey 5px inset;
    color: white;
}

.dashboard>*{
    margin: 0px 40px 10px 10px;
    font-size: 1.5rem;
}

div.dashboard>div>h2{
    padding-left: 15px;
}

.dashboardIcon{
    height: 25px;
    
}

.dashboardLink {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

.dashboardLink > a {
    color: white;
}

/* 
I'm happy with the dashboard stuff so thats all good.
*/

.topNav{
    background-color: rgb(233, 233, 233);
    grid-area: 1 / 2 / 3 / 5;
    border: gray solid 5px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    
    
    
    justify-content: center;

    overflow: hidden;
}



.search{
    grid-area: 1 / 1 / 2 / 4;
    display: grid;
    grid-template-columns: 0fr 1fr;
    align-items: center;
    padding-left: 30px;
    gap: 20px;
}

/* could just edit the css for the searchbar itself */

.minibar{
    grid-area: 1 / 4 / 2 / 6;
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.accountIcon{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.sideIcon{
    grid-area: 2 / 1 / 3 / 4;
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    align-items: center;
    justify-content: start;
    padding-left: 30px;
    gap: 50px;
}

.bubby{
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.bubby>h4{
    font-size: 2rem;
    grid-row: 2;
}

.bubby>h6{
    font-size: 1rem;
}

.sideButtons{
    grid-area: 2 / 4 / 3 / 6;
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    align-items: center;
    justify-content: center;
    gap: 20px;
}



.sideButtons > button {
    background-image: linear-gradient(to right, blue, cyan);
    color: white;
    font-size: 1.5rem;
    border: 3px solid black;
    border-radius: 20px;
    padding: 5px 10px;
    
}

/*  all ts shit fixed */

.yellow{
    background-color: rgb(255, 255, 255);
    grid-area: 3 / 2 / 5 / 4;
    overflow: auto;
    margin-right: 30px;
}

div.yellow > h4 , div.box6 > h4, div.box7 > h4{
    margin-left: 30px;
    
    font-size: 20px;
}
   

.box4{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.boxsub4 {
    background-color: rgb(255, 255, 255);
    grid-area: 7fr;
    margin: 20px;
    padding: 20px;
    font-size: 1.1rem;

    border: solid 5px;
    border-left: solid 15px;

    box-shadow: 10px 5px black;
}

#cardOne{
    border-color: red;
}

#cardTwo{
    border-color: orange;
}

#cardThree{
    border-color: yellow;
}

#cardFour{
    border-color: green;
}

#cardFive{
    border-color: blue;
}

#cardSix{
    border-color: purple;
}

/*  */


.box6 {
    grid-area: 3 / 4 / 4 / 5;

    display: grid;
    grid-template-rows: 0fr 0.5fr;

    margin-right: 10px;
}

div.box6 > h4 , div.box7 > h4{
    margin-left: 0px;
    margin-bottom: 20px;
}

.annoBox{
    background-color: rgb(221, 221, 221);
    display: grid;
    grid-template-rows: repeat(3, 0.0fr);
    align-items: center;
    justify-content: center;
    padding: 20px 20px;

    text-align: left;
    box-shadow: 5px 5px black;
}

div.annoBox > div > h6 {
    font-size: 20px;
    margin-bottom: -10px;
}



.line{
    height: 1px;
    width: 90%;
    border-top: 2px solid grey;
    margin-bottom: 5px;
}

/*  */

.box7 {
    grid-area: 4 / 4 / 5 / 5;
    display: grid;
    grid-template-rows: 0fr 0fr;

    margin-right: 10px;
    margin-bottom: 0px;
    padding-bottom: 10px;
    margin-top: 10px;
    
}

.trendBox {
    background-color: rgb(221, 221, 221);
    display: grid;
    grid-template-rows: repeat(4, 0.0fr);
    grid-template-columns: 0fr 0fr;
    align-items: center;
    justify-content: start;
    padding: 20px 20px;
    column-gap: 20px;
    text-align: left;
    box-shadow: 5px 5px black;
    
}

.trendIcon{
    height: 60px;
}

.dubby{
    width: 150px;
    margin: 10px 10px;
    display: grid;
    
    font-size: 1.2rem;
}

.user{
    font-weight: bold;
}

/*  */

.yellow, .box6{
    margin-top: 20px;
}

