/* haiiiiiii :3 */
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


/* just a simple body reset */


.mainContainer{
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 2fr;
    grid-template-rows: 0.5fr 0.8fr 3fr 3fr;
}

/* main page layot via mainContainer */

.dashboard{
    grid-area: 1 / 1 / 5 / 2;

    display: grid;
    grid-template-rows: 150px 250px 100px;
    
    background-color: rgb(4, 0, 226);
    min-height: 100vh;
    border-right: rgb(180, 180, 180) 5px inset;
    border-top: grey 5px outset;
    border-bottom: grey 5px inset;
    color: white;
}

.dashboard>*{
    margin: 0px 40px 10px 10px;
    font-size: 1.5rem;
}


.dashboardIcon{
    height: 25px;
    
}

.dashboardLink {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

.dashboardLink > a {
    color: white;
}

/* 
I'm happy with the dashboard stuff so thats all good.
*/







.topSearch{
    background-color: rgb(226, 226, 226);
    border: grey 5px solid;
    border-bottom: none;
    grid-area: 1 / 2 / 2 / 5;
    
    display: grid;
    grid-template-columns: clamp(200px, 50%, 800px) 5fr;
    align-items: center;
    justify-items: center;
    overflow: hidden;
    gap: clamp(100px, 10vw, 200px);
    font-size: 1.2rem;
    text-align: center;
    
}

.search{
    display: grid;
    grid-template-columns: 0fr 2fr;
    gap: 10px;
    margin-left: 50px;
}

.minibar{
    display: grid;
    align-items: center;
    
    grid-template-columns: 0fr 0fr 0fr;
    gap: 30px;
    margin-right: 50px;
}

div.minibar>img{
    height: 50px;
    width: 50px;
}

/* its kinda fine? i just need to fix out the spacing and size stuff going on with this and the lower bar. not as bad as under it tho. */

.topAccount{
    background-color: rgb(226, 226, 226);
    grid-area: 2 / 2 / 3 / 5;
    border: grey 5px solid;
    border-top: none;

    display: grid;
    grid-template-columns: clamp(200px, 50%, 800px) 2fr;
    align-items: center;
    overflow: hidden;
    gap: clamp(100px, 11.5vw, 200px);
    font-size: 1.2rem;
    text-align: center;    
}

.sideIcon{
    display: grid;
    margin-left: 5vw;
    grid-template-columns: 0fr 0fr;
    gap: 20px;
    align-items: center;
    
}

.accountIcon{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}






.sideButtons{
    display: grid;
    
    align-items: center;
    
    grid-template-columns: 0fr 0fr 0fr;
    gap: 15px;
    margin-right: 50px;
}

.sideButtons > button {
    background-image: linear-gradient(to right, blue, cyan);
    color: white;
    font-size: 1.5rem;
    border: 3px solid black;
    border-radius: 20px;
    padding: 5px 10px;
}

/*  */

.yellow{
    background-color: rgb(255, 255, 255);
    grid-area: 3 / 2 / 5 / 4;
    overflow: auto;
}

div.yellow > h4 , div.box6 > h4, div.box7 > h4{
    margin-left: 30px;
    
    font-size: 20px;
}
   

.box4{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.boxsub4 {
    background-color: rgb(255, 255, 255);
    grid-area: 7fr;
    margin: 20px;
    padding: 20px;
    font-size: 1.1rem;

    border: solid 5px;
    border-left: solid 15px;
}

#cardOne{
    border-color: red;
}

#cardTwo{
    border-color: orange;
}

#cardThree{
    border-color: yellow;
}

#cardFour{
    border-color: green;
}

#cardFive{
    border-color: blue;
}

#cardSix{
    border-color: purple;
}

/*  */


.box6 {
    background-color: green;
    grid-area: 3 / 4 / 4 / 5;

    display: grid;
    grid-template-rows: 0.1fr 1fr;
}

.annoBox{
    background-color: grey;
    display: grid;
    grid-template-rows: repeat(3, 0.3fr);
    justify-content: center;
}

/*  */

.box7 {
    background-color: orange;
    grid-area: 4 / 4 / 5 / 5;
    display: grid;
    grid-template-rows: 0.1fr 1fr;
}

/*  */

.yellow, .box6, .box7 {
    margin-bottom: 20px;
    margin-top: 20px
}

/* and this is just for bottom of page spacing*/